# Here config default values.
# It is extremely reccomended to redifine them during deploy in production.
LOG_LEVEL="DEBUG" 
ACCESS_TOKEN_TTL="10m"
REFRESH_TOKEN_TTL="24h"
SIGNING_KEY="---"

# WARNING !!!
# Be careful with changing this parameter. You should set it once at 
# the start of deploying, and after never change it. 
# Changing will affect on the app process and make application wrong.
APP_SALT="---"

# Environment for server runing 
APP_READ_TIMEOUT="10s"
APP_WRITE_TIMEOUT="10s"
APP_IDLE_TIMEOUT="10s" 
APP_PORT="7000"

# Environment for database

